@charset "UTF-8";



body {
	margin: 0;
}

/* MENU */

h2 {
	margin-bottom: 0, 5em;
}

h3 {font-size:0,5em;}



header {
	width: 100%;
	display: flex;
}

.header {
	width: 50%;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: red;
	height: 5em;
	line-height: 1em;
	vertical-align: middle;
	margin: 0;
}

.connect {
	width: 50%;
	text-align: center;
	height: 5em;
	line-height: 5em;
	vertical-align: middle;
}

.rubrique {
	display: inline-block;
	width: 10em;
	text-decoration: underline;
}

.barreDeco {
	width: 75%;
	height: 0.5em;
	border-bottom: solid;
	border-color: black;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	margin-bottom:0.5em;
}

a {
	text-decoration: none;
}

.lienAccueil {color:red;}

/* JSP : ACCUEIL */

.searchBar {
	width: 20em;
	margin-left: 5em;
}

.categories {
	font-size: 1.1em;
	padding-left: 4.2em;
	margin-top: 2em;
}

.inputCategorie {
	width: 14em;;
}

.titreListeEnchere {
	text-align: center;
}

.filtre {
	font-weight: bold;
	font-size: 1.5em;
	padding-left: 3em;
}

.conteneurListeEnchere {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
		flex-direction:row;
		flex-wrap:wrap;
	
}

.conteneurArticle {
	width: 40em;;
	display: flex;
	height:10em;
	margin-left:5em;
	margin-top:5em;
	border-color:black;
	border:solid;

}

.conteneurPhotoAccueil {
	width: 15em;
	position:relative;

}


.aCocher {
	font-size: 1.1em;
	padding-left: 4.2em;
	margin-top: 1em;
	width:15em;
}

.surContainerACocher{display:flex;width: 50em;}


/*JSP : NOUVELLE VENTE/DETAIL VENTE/ PROFIL */

h1 {
	text-align:center;	margin-block-start:0;
	
}


p{margin-right:0.0em;}

.titreNouvelleVente{	text-align:center;}



.conteneurPhoto {width:45em;
				height:80em;
				margin:	0;}
				
.conteneur {display:flex;}

.conteneurFormulaire {width:45em;}

.libelle {width:10em; display:inline-block; height:2em;line-height:2em;}

.info {width:15em; display:inline-block; height:2em;line-height:2em;}


.DescriptionArticle {width:8em; display:inline-block;}


				
				 
.divParam {
width:30em;
margin-top:0.2em;	
display:flex}

.divRetrait {border: solid;
width:25em;
padding-left:2em;
padding-bottom:0em;

}


.submit {
width:12em;}


.submitConnexion {margin-top:2em;
width:12em;}

.delete {width:13em;}

.champs{width:10em;}

.conteneurProfil {width:50%;
margin-left:auto;
margin-right:auto;
}

.divParamProfil {
width:50%;
height:3.5em;

display:flex;


}

.divParamID {
width:50%;
height:3.5em;
padding-right:3em;

display:flex;


}




.centrageProfil {
	width:40%;
	
}

.formInput {height:2em;line-height:2em; margin-top:1em;}

.buttonsDiv {display:inline-block; height:2em;line-height:2em;}

.centrageLienInscription{display:inline-block; text-align:center;width:100%;}


