
@charset "UTF-8";

body {
	margin: 0;
}

h1 {
	margin-bottom: 0, 5em;
}

header {
	width: 100%;
	display: flex;
}


.header {
	width: 50%;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: red;
	height: 5em;
	line-height: 1em;
	vertical-align: middle;
	margin: 0;
}

.connect {
	width: 50%;
	text-align: center;
	height: 5em;
	line-height: 5em;
	vertical-align: middle;
}

.rubrique {display:inline-block; width:10em;
text-decoration:underline;}

.barreDeco {
	width: 75%;
	height: 0.5em;
	border-bottom: solid;
	border-color: black;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
}



a {
	text-decoration: none;
}


.searchBar {width:20em;
			margin-left:5em;
}

.categories {
		font-size:1.1em;
		
		padding-left:4.2em;
		margin-top:2em;
		}
		
.inputCategorie {
	
	width:14em;;
}



.titreListeEnchere {
	text-align:center;}
	
.filtre {font-weight:bold;
		font-size:1.5em;
		padding-left:3em;
		}