@charset "UTF-8";


@charset "UTF-8";

body {
	margin: 0;
}

h1 {
	margin-bottom: 0, 5em;
}

header {
	width: 100%;
	display: flex;
}

.header {
	width: 50%;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: red;
	height: 5em;
	line-height: 1em;
	vertical-align: middle;
	margin: 0;
}

.connect {
	width: 50%;
	text-align: center;
	height: 5em;
	line-height: 5em;
	vertical-align: middle;
}

.barreDeco {
	width: 75%;
	height: 0.5em;
	border-bottom: solid;
	border-color: black;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
}



a {
	text-decoration: none;
}

p{margin-right:0.0em;}

.titreNouvelleVente{	text-align:center;}



.conteneurPhoto {width:45em;
				height:80em;
				margin:	0;}
				
.conteneur {display:flex;}

.conteneurFormulaire {width:45em;}

.libelle {width:8em; display:inline-block;}

.DescriptionArticle {width:8em; display:inline-block;}


				
				
.divParam {
width:30em;
margin-top:1.5em;	}

.divRetrait {border: solid;
width:25em;
padding-left:2em;
padding-bottom:0em;

}

.divParam {
width:30em;
margin-bottom:1.5em;	}

.submit {margin-top:3em;
width:10em;}


.annuler {width:10em;}


