<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TPGestionListesCourses</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  
    
  <servlet>
  <servlet-name>JSP_Accueil</servlet-name>
  <jsp-file>/WEB-INF/Accueil.jsp</jsp-file>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>JSP_Accueil</servlet-name>
  <url-pattern>/Accueil</url-pattern>
  
  </servlet-mapping>
  
    <servlet>
  <servlet-name>JSP_Connexion</servlet-name>
  <jsp-file>/WEB-INF/Connexion.jsp</jsp-file>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>JSP_Connexion</servlet-name>
  <url-pattern>/Connexion</url-pattern>
  
  </servlet-mapping>
  
      <servlet>
  <servlet-name>JSP_Inscription</servlet-name>
  <jsp-file>/WEB-INF/Inscription.jsp</jsp-file> 
  
  </servlet>
  <servlet-mapping>
  <servlet-name>JSP_Inscription</servlet-name>
  <url-pattern>/Inscription</url-pattern>
  
  </servlet-mapping>
  
        <servlet>
  <servlet-name>JSP_NouvelleVente</servlet-name>
  <jsp-file>/WEB-INF/NouvelleVente.jsp</jsp-file>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>JSP_NouvelleVente</servlet-name>
  <url-pattern>/NouvelleVente</url-pattern>
  
  </servlet-mapping>
  
  
  
  
</web-app>